/* Typography */
* {
    --natural: #ffffff;
    --sec_natural : #9E9E9E;
    --third_natural : #18181C;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
    --test: #FF0000;
    --menu-active : #005999;
}
@font-face{
    font-family: Proxima Nova Alt Bld;
    src: url(../fonts/ProximaNovaA-Bold.woff) format('woff');
}

@font-face {
  font-family: Proxima Nova Alt Rg;
  src: url(../fonts/ProximaNovaA-Regular.ttf);
}

@font-face {
  font-family: Sharp Sans;
  src: url(../fonts/SharpSansNo1-Book.ttf) format('truetype');
  src: url(../fonts/SharpSansDispNo1-Semibold.ttf) format('truetype');
  src: url(../fonts/SharpSansDispNo1-SemiboldIt.ttf) format('truetype');
}

/* Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

/* Button Config */
.button-style-primary-about-us {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--natural);
    font-size: 1.497vw;
    position: relative;
    z-index: 1;
    width: 15vw;
    height: 1vw;
    border: 0.25vw solid var(--primary);
    border-radius: 0.68vw;
    padding: 1.224vw;
    font-family: Proxima Nova Alt Rg;
}

.button-style-primary-about-us a {
    display: flex;
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--primary);
}

.button-style-primary-about-us:active{
    transform: scale(0.8);
    transition: 0.1s;
}

/* Custom Class */
.background-no-repeat-size-contain{
    background-repeat: no-repeat;
    background-size: contain;
}

/* Pop Up Config */
.pop-up-after-send {
    width: 45vw;
    height: 40vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 28vw;
    top: 15%;
    z-index: 2;
}

.pop-up-after-send-background {
    width: 45vw;
    height: 35vw;
    position: absolute;
    z-index: -1;
    background: rgba(207, 236, 255, 0.7);
    border-radius: 1.701vw;
    filter: blur(1.25vw);
    -webkit-filter: blur(1.25vw);
}

.pop-up-after-send-title {
    font-weight: 700;
    font-size: 3.354vw;
    line-height: 3.122vw;
    letter-spacing: -0.008em;
    color: var(--menu-active);
}

.pop-up-after-send-desc {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-up-after-send-caption {
    margin-top: 5vw;
    font-weight: 400;
    font-size: 1.177vw;
    line-height: 2.721vw;
    text-align: center;
}

.pop-up-after-send-dummy {
    background-image: url(../svg/landing_page_2_popup_dummy.svg);
    margin-top: 5vw;
    width: 10vw;
    height: 10vw;
}

.invalid-email-msg {
    font-size: 1vw;
    color: var(--danger);
    position: absolute;
    margin-top: -1.5vw;
    margin-left: 0.5vw;
}

/* Wrapper */
.wrapper-about-us {
    font-family: Proxima Nova Alt Rg;
}

.about-us-dummy {
    background-image: url(../svg/about_us_dummy_1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    margin-top: -20vw;
    margin-left: 55vw;
    width: 40vw;
    height: 40vw;
}

.vector-5 {
    background-image: url(../svg/Vector_5.svg);
    width: 110vw;
    height: 50vw;
    margin-top: 6vw;
    margin-left: -5vw;
    position: absolute;
    z-index: -1;
}

.about-us-background {
    background-image: url(../svg/about_us_background.svg);
    width: 130vw;
    height: 140vw;
    margin-top: -30vw;
    position: absolute;
    z-index: -1;
}

.stars-1 {
    background-image: url(../svg/eclipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    margin-top: -30vw;
    margin-left: 50vw; 
    width: 100vw;
    height: 60vw;
    position: absolute;
}

.stars-2 {
    background-image: url(../svg/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    width: 40vw;
    height: 40vw;
    position: absolute;
}

.stars-3 {
    background-image: url(../svg/stars_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    margin-top: 20vw;
    margin-left: 5vw;
    width: 100vw;
    height: 150vw;
    position: absolute;
}

.about-us-stars-4 {
    background-image: url(../svg/about_us_stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    margin-left: -5vw;
    width: 105vw;
    height: 110vw;
    position: absolute;
}

/* Section - 1 */
.section-1-about-us {
    color: var(--natural);
    margin-left: 10vw;
}

.section-1-about-us .section-1-about-us-title {
    font-size: 7vw;
    font-weight: 900;
    line-height: 6.122vw;
    letter-spacing: -0.008em;
    font-family: Proxima Nova Alt Bld;
}

.section-1-about-us .section-1-desc-1 {
    margin-top: 5vw;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3.1vw;
    width: 72vw;
}

.section-1-about-us .section-1-desc-2 {
    margin-top: 5vw;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3.1vw;
    width: 60vw;
    text-align: right;
    margin-left: 20vw;
}

.section-1-about-us .about-us-profile {
    display: flex;
    justify-content: center;
    margin-left: -5vw;
}

.section-1-about-us .about-us-person-profile-1, .about-us-person-profile-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vw;
}

.about-us-profile .about-us-profile-image-1 {
    background-image: url(../svg/mr_yp.svg);
    background-size: 36vw;
    background-position: center;
    width: 36vw;
    height: 36vw;
}

.about-us-profile .about-us-profile-image-2 {
    background-image: url(../svg/mr_wee_koon.svg);
    background-size: 36vw;
    background-position: center;
    width: 36vw;
    height: 36vw;
}

.about-us-profile .about-us-profile-1-name, .about-us-profile-2-name {
    font-weight: 700;
    font-size: 4vw;
    line-height: 2.721vw;
    text-align: center;   
    margin-top: -1vw; 
    font-family: Proxima Nova Alt Bld;
}

.about-us-profile .about-us-profile-1-position, .about-us-profile-2-position {
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 2.721vw;
    text-align: center;
    margin-top: 2vw;
    font-family: Proxima Nova Alt Bld;
}

.about-us-agreement #agreement-link {
    color: var(--base);
    font-size: 1.3vw;
    line-height: 1.8vw;
    font-weight: 700;
    display: inline;
    border-bottom: solid 0.1vw var(--base);
    font-family: Proxima Nova Alt Bld;
}

/* Section - 3 */
.vector-6 {
    background-image: url(../svg/Vector_6.svg);
    width: 100vw;
    height: 60vw;
    position: absolute;
    z-index: -2;
}

.vector-7 {
    background-image: url(../svg/Vector_7.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: -1;
    margin-top: 6vw;
    opacity: 80%;
}

.section-3-about-us {
    margin-top: 15vw;
    margin-left: 10vw;
    color: var(--natural);
}

.section-3-about-us .section-3-about-us-title{
    font-size: 5vw;
    font-weight: 700;
    line-height: 6.122vw;
    letter-spacing: -0.008em;
    padding-bottom: 5vw;
    font-family: Proxima Nova Alt Bld;
}

.section-3-about-us-profile-wrapper {
    display: flex;
    align-items: center;
    margin-top: -5vw;
    margin-left: -5vw;
}

.section-3-about-us-desc {
    display: flex;
    flex-direction: column;
}

.section-3-profile-photo-desc .profile-photo {
    background-image: url(../svg//prof_alex_siow.svg);
    background-size: 30vw;
    background-position: center;
    width: 34vw;
    height: 34vw;
}

.section-3-about-us-name {
    font-weight: 700;
    font-size: 3.8vw;
    line-height: 2.721vw;
    font-family: Proxima Nova Alt Bld;
}

.section-3-about-us-position {
    font-size: 2.177vw;
    font-weight: 700;
    line-height: 2.721vw;
    padding-top: 1vw;
    text-align: center;
    margin-left: -31vw;
}

.section-3-about-us-profile-wrapper .section-3-profile-caption {
    font-size: 2.5vw;
    line-height: 3.5vw;
    width: 55vw;
    margin-top: 8vw;
}

.about-us-form-bg {
    width: 80vw;
    height: 30vw;
    filter: blur(1.25vw);
    -webkit-filter: blur(1.25vw);
    background-color: rgba(207, 236, 255, 0.3);
    position: absolute;
    z-index: -2;
    border-radius: 1.701vw;
}

.about-us-form {
    margin-top: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vw;
}

.about-us-form .about-us-form-title {
    font-weight: 900;
    font-size: 3.8vw;
    color: var(--natural);
    line-height: 5.442vw;
    font-family: Proxima Nova Alt Bld;
}

.about-us-form .about-us-form-caption {
    font-size: 1.5vw;
    color: var(--natural);
    line-height: 2.721vw;
    padding-bottom: 2vw;
}

.about-us-input #mce-EMAIL {
    width: 40vw;
    height: 2.5vw;
    margin-bottom: 2vw;
    background-color: var(--third_natural);
    border: none;
    padding: 0.5vw;
    padding-left: 2vw;
    color: var(--natural);
    font-family: Proxima Nova Alt Rg;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1.4vw;
    border-radius: 0.4vw;
}

.about-us-input #mce-EMAIL::placeholder {
    color: var(--natural);
}

.about-us-input #mce-EMAIL:focus {
    outline: none;
}

.about-us-submit {
    display: flex;
    justify-content: center;
}

.about-us-form #mc-embedded-subscribe {
    background-color: var(--natural);
    font-size: 1.7vw;
    /* margin-left: 5vw; */
    width: 15vw;
    height: 5vw;
    border: 0.25vw solid var(--primary);
    border-radius: 0.68vw;
    padding: 1.224vw;
    color: var(--menu-active);
    font-family: Proxima Nova Alt Rg;
    cursor: pointer;
}

.about-us-form #mc-embedded-subscribe:active{
    transform: scale(0.8);
    transition: 0.1s;
}

.about-us-agreement {
    margin-top: 1vw;
    width: 45vw;
    color: var(--base);
    font-weight: 400;
    font-size: 1.3vw;
    text-align: center;    
    line-height: 1.361vw;
}

@media (max-width: 1000px) {
    /* Pop Up loading & after */
    #pop-up-cover {
        width: 100vw;
        height: 200vw;
    }

    .loading-wrapper {
        margin-left: 14vw;
    }

    .pop-up-after-send {
        top: 40%;
        width: 40vw;
    }

    .pop-up-after-send-background {
        width: 60vw;
        height: 60vw;
    }

    .pop-up-after-send .pop-up-after-send-title {
        font-size: 5vw;
    }

    .pop-up-after-send .pop-up-after-send-desc {
        width: 45vw;
    }

    .pop-up-after-send .pop-up-after-send-caption {
        font-size: 1.7vw;
    }

    .pop-up-after-send-dummy {
        width: 20vw;
        height: 20vw;
    }
}