/* Typography */
* {
    --natural: #ffffff;
    --sec_natural : #9E9E9E;
    --third_natural : #18181C;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
    --test: #FF0000;
    --menu-active : #005999;
    --danger : #ff0000;
}
@font-face {
    font-family: Proxima Nova Alt Rg;
    src: url(./fonts/ProximaNovaA-Regular.ttf);
}

/* Animations */
@keyframes fade-in {
    from {
        opacity : 0;
    } to {
        opacity: 1;
    }
}
.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

/* Custom Class */
.background-no-repeat-size-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.margin-left-10vw {
    margin-left: 10vw;
}

/* Button Config */
.button-style-primary-event {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--natural);
    font-size: 1.1vw;
    margin-left: 5vw;
    position: relative;
    z-index: 1;
    width: 13vw;
    height: 1vw;
    border: 0.25vw solid var(--primary);
    border-radius: 0.68vw;
    padding: 1.224vw;
    font-family: Proxima Nova Alt Rg;
    margin-top: 3vw;
  }
  
.button-style-primary-event a {
    display: flex;
    text-decoration: none;
    font-size: 1.5vw;
    color: var(--primary);
}

.button-style-primary-event:active{
    transform: scale(0.8);
    transition: 0.1s;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

/* Pop Up Config */
.pop-up-after-send {
    /* background-image: url(../svg/landing_page_bg_2.svg); */
    width: 45vw;
    height: 40vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 28vw;
    top: 15%;
    /* margin-top: -70vw; */
    z-index: 2;
}

.pop-up-after-send-background {
    width: 45vw;
    height: 35vw;
    position: absolute;
    z-index: -1;
    /* margin-top: -15vw; */
    background: rgba(207, 236, 255, 0.7);
    border-radius: 1.701vw;
    filter: blur(1.25vw);
    -webkit-filter: blur(1.25vw);
}

.pop-up-after-send-title {
    /* background-color: var(--test); */
    /* margin-top: -15vw; */
    font-weight: 700;
    font-size: 3.354vw;
    line-height: 3.122vw;
    letter-spacing: -0.008em;
    color: var(--menu-active);
}

.pop-up-after-send-desc {
    width: 30vw;
    display: flex;  
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pop-up-after-send-caption {
    margin-top: 5vw;
    font-weight: 400;
    font-size: 1.177vw;
    line-height: 2.721vw;
    text-align: center;
}

.pop-up-after-send-dummy {
    background-image: url(../svg/landing_page_2_popup_dummy.svg);
    margin-top: 5vw;
    width: 10vw;
    height: 10vw;
}

.invalid-email-msg {
    font-size: 1vw;
    color: var(--danger);
    position: absolute;
    margin-top: -1vw;
    margin-left: 0.5vw;
}

/* Wrapper */
.event-stars {
    background-image: url(../svg/stars_7.svg);
    width: 200vw;
    height: 200vw;
    position: absolute;
    z-index: -2;
    /* background-color: var(--test); */
}

.event-wrapper {
    font-family: Proxima Nova Alt Rg;
    color: var(--natural);
    padding-bottom: 10vw;
}

.event-wrapper .event-page-title {
    font-weight: 900;
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: -0.008em;
    /* background-color: var(--test); */
    text-align: center;
    width: 75vw;
    margin-left: 15vw;
}

.event-section-2-wrapper {
    display: flex;
    margin-top: 10vw;
    margin-left: 10vw;
}

.event-left-wrapper {
    width: 45vw;
    margin-top: -5vw;
}

.event-left-wrapper .button-style-primary-event {
    width: 16vw;
    height: 2vw;
    margin-left: 13vw;
    margin-top: 5vw;
}

.event-left-wrapper .button-style-primary-event a {
    font-size: 1.8vw;
}

.event-left-wrapper .event-left-desc {
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3.2vw;
    text-align: center;
}


.event-wrapper .event-dummy {
    background-image: url(../svg/event_dummy.svg);
    width: 50vw;
    height: 50vw;
    margin-left: 43vw;
    margin-top: -12vw;
    position: absolute;
    z-index: -2;
}

/* Section - 3 */
.event-title-vector {
    background-image: url(../svg/Vector_9.svg);
    width: 100vw;
    height: 30vw;
    margin-left: -10vw;
    margin-top: 18vw;
    position: absolute;
    z-index: -1;
}

.event-section-3-wrapper {
    margin-top: 5vw;
    margin-left: 10vw;
}

.event-section-3-wrapper .event-title {
    display: flex;
    font-weight: 700;
    font-size: 3.265vw;
    cursor: pointer;
}

.event-section-3-wrapper .event-vector {
    background-image: url(../svg/event_signal.svg);
    width: 80vw;
    height: 80vw;
    position: absolute;
    z-index: -2;
    /* transform: rotate(10deg); */
    margin-top: 120vw;
    margin-left: 45vw;
}

.label {
    font-weight: 700;
    font-size: 5.5vw;
    line-height: 4.354vw;
}

/* Exhibitions Section */
.all-past-section {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
}

.all-past-events {
    display: flex;
    padding-top: 3vw;
    align-items: center;
    margin-left: -3vw;
    padding-bottom: 3vw;
    /* background-color: var(--test); */
}

.all-past-event-image {
    background-image: url(../svg/event_1_exhibitions.svg);
    width: 40vw;
    height: 40vw;
}

.all-past-events .event-desc {
    font-weight: 900;
    font-size: 2.5vw;
    width: 50vw;
    /* margin-left: 5vw; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-past-events .event-desc .event-details-2 {
    margin-top: 3vw;
    width: 40vw;
    /* background-color: var(--natural); */
}

.event-desc .event-button {
    display: flex;
    margin-left: -5vw;
    color: var(--primary);
    font-weight: normal;
    margin-top: 3vw;
}

.event-desc .event-button .button-style-primary-event {
    width: auto;
    height: 2vw;
}

.event-desc .event-button .button-style-primary-event a {
    font-size: 1.8vw;
}

.exhibitions-past-events, .tech-talk-past-events {
    /* margin-top: 3vw; */
    display: flex;
}

/* Exhibitions */
.event-vector-2 {
    background-image: url(../svg/Vector_12.svg);
    position: absolute;
    z-index: -1;
    width: 110vw;
    height: 40vw;
    margin-left: -10vw;
    margin-top: 70vw;
}

.exhibitions-past-events {
    padding-bottom: 5vw;
}
.exhibitions-past-events .past-event-image-1 {
    background-image: url(../svg/event_2_exhibitions.svg);
    width: 35vw;
    height: 35vw;
}

.exhibitions-past-events .past-event-image-2 {
    background-image: url(../svg/event_3_exhibitions.svg);
    width: 35vw;
    height: 35vw;
}

.exhibitions-past-events .past-event-1, .past-event-2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-left: 8vw;
    /* background-color: var(--test); */
}

.exhibitions-past-events .past-event-2 {
    width: 26vw;
}

.exhibitions-past-events .past-event-1 {
    margin-left: 0;
}

.exhibitions-past-events .past-event-details-2 {
    margin-top: 5vw;
}

.past-event-2 .past-event-details-2 {
    margin-top: 2.2vw;
}

.past-event-details-1, .past-event-details-2, .past-event-label {
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3vw;
}

.past-event-label {
    margin-top: 1.5vw;
}

.exhibitions-past-events .button-style-primary-event {
    margin-top: 1.5vw;
    margin-left: 0vw;
    width: 14vw;
    color: var(--primary);
}

/* Tech Talk */

.tech-talk-past-events .past-event-image-1 {
    background-image: url(../svg/event_1_tech_talk.svg);
    width: 35vw;
    height: 35vw;
}

.tech-talk-past-events .past-event-image-2 {
    background-image: url(../svg/event_2_tech_talk.svg);
    width: 35vw;
    height: 35vw;
}

.tech-talk-past-events .past-event-1, .past-event-2 {
    width: 25vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-left: 8vw;
    /* background-color: var(--test); */
}


.tech-talk-past-events .past-event-1 {
    margin-left: 0;
}

.tech-talk-past-events .past-event-details-2 {
    margin-top: 3.5vw;
}

.tech-talk-past-events .button-style-primary-event {
    margin-top: 1.5vw;
    margin-left: 0vw;
    width: 14vw;
    color: var(--primary);
}

.tech-talk-past-events .past-event-1 .button-style-primary-event {
    margin-top: 11.5vw;
}

.tech-talk-past-events .past-event-2 .button-style-primary-event {
    margin-top: 5vw;
}

.all-past-section .exhibitions-past-events .past-event-1 .button-style-primary-event {
    margin-top: 5vw;
}

.all-past-section .exhibitions-past-events .past-event-2 .button-style-primary-event {
    margin-top: 5vw;
}

.event-stars-2 {
    background-image: url(../svg/event_stars.svg);
    width: 100vw;
    height: 105vw;
    position: absolute;
    z-index: -1;
    margin-left: -10vw;
}

/* Mailchimp form */
.event-mailchimp-vector {
    background-image: url(../svg/Vector_9.svg);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 30vw;
}

.event-mailchimp-wrapper {
    margin-top: 12vw;
    display: flex;
    justify-content: center;
}

.event-mailchimp-image {
    background-image: url(../svg/event_mailchimp_dummy.svg);
    width: 15vw;
    height: 15vw;
    padding-right: 5vw;
}

.event-mailchimp-form-title {
    font-weight: 700;
    font-size: 2.449vw;
    line-height: 2.721vw;
    text-align: center;
}

.event-mailchimp-form form {
    display: flex;
    margin-top: 2.5vw;
}

.event-mailchimp-form form #mce-EMAIL {
    width: 22vw;
    height: 3vw;
    margin-bottom: 2vw;
    background-color: var(--third_natural);
    border: none;
    padding: 0.5vw;
    padding-left: 2vw;
    color: var(--natural);
    font-family: Proxima Nova Alt Rg;
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.4vw;
    border-radius: 0.4vw;
}

.event-mailchimp-form form #mce-EMAIL:focus {
    outline: none;
}

.event-mailchimp-form form #mce-EMAIL::placeholder {
    color: var(--natural);
}


.event-mailchimp-form #mc-embedded-subscribe {
    background-color: var(--natural);
    width: 18vw;
    height: 4vw;
    border: 0.25vw solid var(--primary);
    border-radius: 0.68vw;
    font-family: Proxima Nova Alt Rg;
    font-size: 1.497vw;
    letter-spacing: 0.008em;
    font-weight: 400;
    color: var(--primary);
    cursor: pointer;
}

.event-mailchimp-form #mc-embedded-subscribe:active {
    transform: scale(0.8);
    transition: 0.1s;
}

