/* Typography */
* {
    --natural: #ffffff;
    --sec_natural : #9E9E9E;
    --third_natural : #18181C;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
    --test: #FF0000;
    --menu-active : #005999;
}
@font-face {
    font-family: Proxima Nova Alt Rg;
    src: url(./fonts/ProximaNovaA-Regular.ttf);
}

/* Animations */
@keyframes fade-in {
    from {
        opacity : 0;
    } to {
        opacity: 1;
    }
}
.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

/* Custom Class */
.background-no-repeat-size-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

/* Loading Animation */
.loading-wrapper {
    position: absolute;
    /* background-color: var(--test); */
    margin-top: 40vw;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
}

.lds-ellipsis {
display: inline-block;
position: absolute;
width: 80px;
height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 2.245vw;
width: 0.884vw;
height: 0.884vw;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 0.544vw;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 0.544vw;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 2.177vw;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 3.81vw;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}

/* Wrapper */
.landing-page-bg {
    background-image: url(../svg/landing_page_bg.svg);
    width: 120vw;
    height: 100vw;
    position: absolute;
    margin-top: -25vw;
    z-index: -1;
}

.landing-page-stars {
    background-image: url(../svg/stars_6.svg);
    width: 100vw;
    height: 70vw;
    position: absolute;
    z-index: -2;
    /* background-color: var(--test); */
}

.pop-up-content {
    display: flex;
    align-items: center;
    font-family: Proxima Nova Alt Rg;
    margin-left: 5vw;
    /* margin-top: -5vw; */
    padding-bottom: 5vw;
}

/* Pop-Up Form input */
.pop-up-form-input {
    margin-left: 10vw;
    width: 40vw;
    margin-top: -5vw;
}

.pop-up-form-input .input-form {
    width: 35vw;
    height: 2.5vw;
    margin-bottom: 2vw;
    background-color: var(--third_natural);
    border: none;
    padding: 0.5vw;
    padding-left: 2vw;
    color: var(--natural);
    font-family: Proxima Nova Alt Rg;
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.4vw;
    border-radius: 0.4vw;
}

.pop-up-form-input .input-form::placeholder {
    color: var(--natural);
}

/* Pop-Up LHS Wrapper */
.pop-up-left-wrapper {
    width: 30vw;
}

/* Pop-Up Form Title & Description */
.pop-up-title {
    font-weight: 700;
    font-size: 4.354vw;
    line-height: 6.122vw;
    letter-spacing: -0.008em;
    color: var(--menu-active);
}

.pop-up-form-desc {
    font-weight: 400;
    font-size: 2.177vw;
    line-height: 2.721vw;
    width: 25vw;
    margin-top: 2.5vw;
}

.pop-up-content .character {
    background: url(../svg/astronaut.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5vw;
    width: 25vw;
    height: 25vw;
}

/* Agreement & Submit Field */
.pop-up-content .form-agreement {
    font-size: 1.088vw;
    line-height: 1.361vw;
    width: 38vw;
}

.pop-up-content .landing-page-form-submit-field {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.landing-page-form-submit-field #submit-field {
    background-color: var(--natural);
    width: 14vw;
    border: 3px solid var(--primary);
    border-radius: 0.68vw;
    padding: 1vw;
    font-family: Proxima Nova Alt Rg;
    font-size: 1.4vw;
    color: var(--primary);
    cursor: pointer;
}


.landing-page-form-submit-field #submit-field::placeholder {
    color: var(--primary);
}

.landing-page-form-submit-field #submit-field:active {
    transform: scale(0.8);
    transition: 0.1s;
}

.pop-up-after-send {
    /* background-image: url(../svg/landing_page_bg_2.svg); */
    width: 90vw;
    height: 80vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: -70vw;
    z-index: 2;
}

.pop-up-after-send-background {
    width: 90vw;
    height: 60vw;
    position: absolute;
    z-index: -1;
    margin-top: -15vw;
    background: rgba(207, 236, 255, 0.7);
    border-radius: 1.701vw;
    filter: blur(17.5px);
    -webkit-filter: blur(17.5px);
}

.pop-up-after-send-title {
    /* background-color: var(--test); */
    margin-top: -15vw;
    font-weight: 700;
    font-size: 4.354vw;
    line-height: 6.122vw;
    letter-spacing: -0.008em;
    color: var(--menu-active);
}

.pop-up-after-send-desc {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pop-up-after-send-caption {
    margin-top: 5vw;
    font-weight: 400;
    font-size: 2.177vw;
    line-height: 2.721vw;
    text-align: center;
}

.pop-up-after-send-dummy {
    background-image: url(../svg/landing_page_popup_dummy.svg);
    margin-top: 5vw;
    width: 20vw;
    height: 20vw;
}

/* Pop up Background Cover */
#pop-up-cover {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    opacity: 90%;
    position: absolute;
    width: 100vw;
    height: 115vw;
    margin-top: -30vw;
    z-index: 1;
}