* {
	--natural: #ffffff;
  --sec_natural : #9E9E9E;
  --third_natural : #18181C;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
  --test: #FF0000;
}
@font-face{
    font-family: Proxima Nova Alt Rg;
    src: url(../fonts/ProximaNovaA-Regular.ttf);
    font-family: Sharp Sans;
    src: url(../fonts/SharpSans.otf);
  }

.wrapper {
font-family: Proxima Nova Alt Rg;
/* background: linear-gradient(180deg, #005999 0%, rgba(0, 89, 153, 0) 100%); */
width: 100vw;
height: auto;
/* margin-top: -2vw; */
/* margin-left: -1vw; */
padding-bottom: 10vw;
}

.vector-1 {
  background-image: url(../svg/Vector_1.svg);
  position: absolute;
  margin-top: -5vw;
  margin-left: -1vw;
  z-index: -1;
  width: 100vw;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel-bg {
  position: absolute;
  width: 70vw;
  height: 35vw;
  z-index: -1;
  margin-top: -5vw;
  filter: blur(17.5px);
  -webkit-filter: blur(17.5px);
  background: rgba(207, 236, 255, 0.5);
  border-radius: 1.7vw;
  margin-left: -5vw;
}

.about-us {
  padding-top: 10vw;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about-us .title {
  padding-bottom: 5vw;
  color: var(--natural);
  font-size: 3.265vw;
  font-weight: 600;
}

.about-us .carousel {
  padding: 5vw;
  width: 60vw;
  color: var(--base);
  
  /* backdrop-filter: blur(17.5px); */
}

.about-us .carousel-title {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: Sharp Sans;
  font-style: italic;
  font-size: 2.449vw;
  font-weight: 600;
}

.about-us .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container .content {
  font-family: Proxima Nova Alt Rg;
  font-size: 1.361vw;
  line-height: 2.381vw;
}

.button-style-primary {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--natural);
  font-size: 1.1vw;
  width: 8vw;
  height: 1vw;
  border: 3px solid var(--primary);
  border-radius: 0.68vw;
  padding: 1.224vw;
  font-family: Proxima Nova Alt Rg;
}

.button-style-primary a {
  display: flex;
  text-decoration: none;
  font-size: 1.4vw;
  color: var(--primary);
}

.button-style-primary:active{
  transform: scale(0.8);
  transition: 0.1s;
}

.about-us .button-style-primary {
  margin-top: 5vw;
}

.section-2 {
  margin-left: 4vw;
  
}

.eclipse {
  background-image: url(../svg/eclipse_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--test); */
  /* margin-left: 50vw;  */
  z-index: -2;
  width: 100vw;
  height: 100vw;
  position: absolute;
}