/* Typography */
* {
	--natural: #ffffff;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
  --test: #FF0000;
  font-family: Proxima Nova Alt Rg;
}
@font-face{
    font-family: Proxima Nova Alt Rg;
    src: url(./fonts/ProximaNovaA-Regular.ttf);
}

/* Custom class */
/* Animations */
@keyframes fade-in {
  from {
      opacity : 0;
  } to {
      opacity: 1;
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}


/* Wrapper */
.wrapper {
  background: linear-gradient(180deg, rgba(13, 111, 202, 0.9) 0%, rgba(38, 0, 111, 0.621) 20%, rgba(24, 24, 28, 0) 100%);
  width: 102vw;
  /* max-width: 100%; */
  /* width: max-content; */
  /* background-color: red; */
  /* background-color: blue; */
  padding-top: 17vw;
  margin-top: -30vw;
  margin-left: -2vw;
  height: auto;
}

.h3-1 , .h3-2{
  font-size: 7.5vw;
  font-family: Proxima Nova Alt Rg;
  margin-left: 10vw;
  color: var(--natural);
  font-weight: 3900;
}

.h3-2 {
  margin-top: -7vw;
}

h4 {
  font-family: Proxima Nova Alt Rg;
  margin-left: 10vw;
  margin-top: -4vw;
  font-weight: 400;
  font-size: 2.17vw;
  color: var(--natural);
  width: 60vw;
}

.stars-1 {
  background-image: url(../svg/eclipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  margin-left: 50vw; 
  width: 100vw;
  /* max-width: 100%; */
  height: 60vw;
  position: absolute;
}

.eclipse {
  background-image: url(../svg/eclipse_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--test); */
  /* margin-left: 50vw;  */
  z-index: -0.5;
  width: 100vw;
  /* max-width: 100%; */
  height: 100vw;
  position: absolute;
}

.vector-1 {
  background-image: url(../svg/Vector_1.svg);
  position: absolute;
  margin-top: -2vw;
  margin-left: -5vw;
  z-index: 1;
  width: 110vw;
  height: 100vw;
  /* background-color: var(--test); */
  background-repeat: no-repeat;
  background-size: contain;
}
  
.signal-left {
  /* background-color: red; */
  background-image: url(../svg/Signal_left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw;
  height: 50vw;
  position: absolute;
  z-index: 1;
  margin-top: -10vw;
  margin-left: -15vw;
  /* background-color: var(--test); */
  transform: rotate(15deg);
  /* animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.signal-right {
  background-image: url(../svg/Signal_right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35vw;
  height: 35vw;
  position: absolute;
  z-index: 1;
  margin-top: 10vw;
  margin-left: 78vw;
  /* background-color: red; */
  /* transform: rotate(15deg); */
}

.stars-2 {
  background-image: url(../svg/stars.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
  margin-top: 40vw;
  width: 40vw;
  height: 40vw;
  /* background-color: var(--test); */
  position: absolute;
}

.button-style-primary {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--natural);
  font-size: 1.1vw;
  margin-left: 10vw;
  position: relative;
  z-index: 1;
  width: 10vw;
  height: 1vw;
  border: 0.25vw solid var(--primary);
  border-radius: 0.68vw;
  padding: 1.224vw;
  font-family: Proxima Nova Alt Rg;
  cursor: pointer;
}

.button-style-primary a {
  display: flex;
  text-decoration: none;
  font-size: 1.4vw;
  color: var(--primary);
}

.button-style-primary:active{
  transform: scale(0.8);
  transition: 0.1s;
}

.greetings > .button-style-primary {
  position: absolute;
  z-index: 2;
}

/* Section - 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -35vw;
}

.title-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 15vw; */
  font-family: Proxima Nova Alt Rg;
  letter-spacing: -0.008em;
  color: var(--natural);
}

.title-wrapper .title {
  font-weight: 900;
  font-size: 5.5vw;
  line-height: 6.082vw;
  letter-spacing: -0.008em;
  text-align: center;
  width: 70vw;
}

.title-wrapper .caption {
  font-size: 2.5vw;
  font-weight: 400;
  text-align: center;
  width: 90vw;
  margin-top: 7vw;
}

.gif {
  margin-top: 2vw;
  background-image: url(../svg/dummy_gif.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--test); */
  width: 70vw;
  height: 45vw;
}

.section-2 .content {
  width: 80vw;
  padding: 1.5vw;
  /* background-color: var(--test); */
  background: rgba(255, 255, 255, 0.1);
  margin-top: 3vw;
  border-radius: 1.4vw;
  font-family: Proxima Nova Alt Rg;
  color: var(--natural);
  font-weight: 700;
  font-size: 1.6vw;
  line-height: 2.721vw;
  text-align: center;
}

.vector-2 {
  background-image: url(../svg/cropped_vector_2.svg);
  opacity: 0.95;
  position: absolute;
  margin-top: -9vw;
  z-index: 0;
  width: 110vw;
  height: 60vw;
  padding-left: 2vw;
  /* background-color: red; */
  /* margin-left: -12vw; */
  background-repeat: no-repeat;
  background-size: contain;
}

/* Section - 3 */
.section-3 {
  font-family: Proxima Nova Alt Rg;
  margin-top: -2vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.section-3 .content {
  padding-top: 1.5vw;
}

.section-3 .statistics {
  display: flex;
}

.section-3 .title {
  letter-spacing: -0.012em;
  font-weight: 900;
  font-size: 5.354vw;
  color: var(--accent);
}

.first-stats, .second-stats, .third-stats, .fourth-stats {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  width: 20vw;
  padding-right: 1.5vw;
  /* background-color: var(--test); */
}

.section-3 .number {
  font-size: 7.483vw;
  font-weight: 700;
  font-family: Proxima Nova Alt Rg;
  display: flex;
}

.arrow-stats {
  background-image: url(../svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.5vw;
  height: 5.5vw;
  margin-top: 1.5vw;
}

.section-3 .number .number-content {
  margin-left: -2vw;
}

.section-3 .stats-title {
  font-size: 2.2vw;
  font-family: Proxima Nova Alt Rg;
  color: var(--base);
  font-weight: 900;
}

.section-3 .caption {
  padding-top: 1vw;
  font-size: 1.5vw;
  font-family: Proxima Nova Alt Rg;
  color: var(--base);
  line-height: 2.381vw;
  width: 20vw;
}

.section-3 .disclaimer {
  margin-top: 2vw;
  font-weight: 400;
  font-size: 1.288vw;
  line-height: 2.721vw;
}

.vector-3 {
  background-image: url(../svg/signal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
  width: 80vw;
  height: 80vw;
  /* background-color: var(--test); */
  margin-top: 40vw;
  margin-left: 58vw;
}


/* Section - 4 */
.section-4-background {
  background-image: url(../svg/mainpag_1_sec_4_bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background: var(--test); */
  position: absolute;
  z-index: -1;
  width: 125vw;
  height: 155vw;
  margin-top: -38vw;
  /* margin-left: 5vw; */

}

.section-4 {
  padding-top: 45vw;
  /* background-color: var(--test); */
  font-family: Proxima Nova Alt Rg;
  color: var(--natural);
  display: flex;
}

.section-4 .picture-1 {
  background-image: url(../svg/interface_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 45vw;
  height: 45vw;
  position: absolute;
  margin-left: 5vw;
  /* margin-top: -3vw; */
  /* background-color: var(--test); */
}

.section-4 .picture-2 {
  background-image: url(../svg/interface_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 45vw;
  height: 45vw;
  position: absolute;
  margin-left: 50vw;
  /* margin-top: -10vw; */
  /* background-color: var(--test); */
}

.section-4 .text-content {
  /* background-color: var(--test); */
  margin-left: 50vw;
  width: 48vw;
}

.section-4 .section-4-content-2 {
  margin-left: -90vw;
  margin-top: 50vw;
}

.section-4 .title {
  font-weight: 700;
  font-size: 5vw;
  line-height: 5vw;
  width: 45vw;
}

.section-4 .content {
  margin-top: 4vw;
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 3vw;
}

.section-4-content-2 {
  padding-bottom: 10vw;
}

.section-4-content-2 .text-content {
  margin-left: 2vw;
  width: 50vw;
  text-align: right;
  /* margin-top: -1vw; */
  /* margin-top: 35vw; */
}

.section-4-content-2 .title {
  width: 35vw;
  margin-left: 10vw;
}

.section-4-content-2 .content {
  margin-right: 5vw;
}

.section-4-content-2 .button-style-primary {
  width: 8vw;
  margin-top: 3vw;
  margin-left: 34vw;
}

.section-4-content-1 .button-style-primary{
  margin-top: 4vw;
  margin-left: 0;
  width: 15vw;
}

.section-4 .button-style-primary a {
  font-size: 1.6vw;
}

.vector-4 {
  background-image: url(../svg/Vector_10.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110vw;
  height: 20vw;
  position: absolute;
  z-index: 0;
  margin-top: 5vw;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}