/* Typography */
* {
    --natural: #ffffff;
    --sec_natural : #9E9E9E;
    --third_natural : #18181C;
	--primary: #024F94;
	--accent: #132F66;
	--base: #000000;
    --test: #FF0000;
    --menu-active : #005999;
}
@font-face{
    font-family: Proxima Nova Alt Bld;
    src: url(../fonts/ProximaNovaA-Bold.woff) format('woff');
}

@font-face {
  font-family: Proxima Nova Alt Rg;
  src: url(../fonts/ProximaNovaA-Regular.ttf);
}

@font-face {
  font-family: Sharp Sans;
  src: url(../fonts/SharpSansNo1-Book.ttf) format('truetype');
  src: url(../fonts/SharpSansDispNo1-Semibold.ttf) format('truetype');
  src: url(../fonts/SharpSansDispNo1-SemiboldIt.ttf) format('truetype');
}

/* Custom Class */
.background-no-repeat-size-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.bold-underline-thin {
    font-weight: 700;
    font-family: Proxima Nova Alt Bld;
    border-bottom: 0.05vw solid var(--natural);
    color: var(--natural);
}

.bold-underline-thick {
    font-weight: 700;
    font-family: Proxima Nova Alt Bld;
    border-bottom: 0.125vw solid var(--natural);
}

/* Wrapper */

.tp-m-wrapper {
    color: var(--natural);
    font-family: Proxima Nova Alt Rg;
    margin-left: 10vw;
    width: 80vw;
}

/* Vectors */
.tp-m-stars-1 {
    background-image: url(../svg/misc/stars/stars4.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: -2;
    margin-top: -5vw;
    margin-left: -10vw;
}

.tp-m-stars-2 {
    background-image: url(../svg/misc/stars/stars5.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: -2;
    margin-top: -5vw;
    margin-left: -10vw;
}

.tp-m-stars-3 {
    background-image: url(../svg/misc/stars/stars4.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: -2;
    margin-top: -5vw;
    margin-left: -10vw;
}

.tp-m-stars-4 {
    background-image: url(../svg/misc/stars/stars5.svg);
    width: 100vw;
    height: 50vw;
    position: absolute;
    z-index: -2;
    margin-top: -5vw;
    margin-left: -10vw;
}

.tp-m-caption ul {
    margin-top: 0vw;
}

.tp-m-caption li {
    margin-left: -2vw;
}

/* Title */

.tp-m-title {
    font-size: 5vw;
    line-height: 6.122vw;
    letter-spacing: -0.008em;
    font-weight: 900;
}

/* Caption */

.tp-m-caption {
    margin-top: 5vw;
    font-size: 1.5vw;
    line-height: 1.5vw;   
}

/* Contact Section */

.tp-m-contact-us {
    margin-top: 3vw;
    font-size: 1.7vw;
}

.tp-m-contact-us-title {
    font-weight: 700;
}

.tp-m-contact-us-caption {
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    line-height: 1.5vw;
}

.tp-m-contact-us a {
    color: var(--natural);
    text-decoration: none;
}